/*
 Theme Name:   Paperback Child Theme
 Description:  Modifizierungen an dem Paperback WP Theme
 Author:       Raffael Ernst
 Author URI:   http://www.raffaelernst.ch/
 Template:     paperback
 Version:      1.0
 Text Domain:  paperback-child
*/


/**
 * KK Star Ratings
 */

.kk-star-ratings.lft {
    position: relative;
    float: none !important;
    width: 100% !important;
    padding: 3%;
    background: #ecf1f7;
    color: #3ea9f5;
}
.kk-star-ratings:before {
    content: 'Wie hat Ihnen diese Seite gefallen?';
    display: block;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.25px;
}
.kksr-stars {
    width: 120px;
    margin: 0 auto !important;
}


/**
 * CSS Child Theme
 */
.footnote {

  a {
    font-weight: 700 !important;
    font-size: 100% !important;
    border-bottom: none !important;
  }
}

.footnotes {
  &:before {
    content: "Quellenangaben:";
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    width: 50%;
    margin-right: 50%;
    border-bottom: 4px solid black;
    float: left;
  }

  ol {
    padding-left: 1.5em;
  }

  li {
    float: left;
  }
}

.egm-mostimportantlist {
  margin: 0 0 1.5em;
  float: none;
  overflow: hidden;
  width: 100%;
  background: #fafbfc;
  padding: 0.75em 1.5em;
}

.egm-mostimportantlist__article {
  float: left;
  width: 23%;
  padding: 0.75em 1.5em;
  text-align: center;
  background: #fff;
  margin-right: 2.666%;
  border: 1px solid #E7EBF1;

  .egm-mostimportantlist__article__heading {
    font-weight: bold;
    display: block;
  }

  img {
    width: 120px;
    border-radius: 50%;
    margin: 1em 0 0 0;
    filter: grayscale(0.5);
  }

  a {
    padding: 0.25em 1.5em;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    transition: .2s ease-in-out;
    border-bottom: none;

    &:hover {
      color: #eee;
      border-bottom-color: #888;
    }
  }

  &:nth-last-of-type(1) {
    margin-right: 0;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.6);

    img {
      filter: grayscale(0.3);
    }
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    margin-bottom: 1.5em;

    img {
    }
  }

}

.egm-didyouknow {
  float: none;
  display: table;
  margin: 0 auto 1.5em;
  width: 50%;
  background: #ECF1F7;
  padding: 0.75em 1.5em;

  .egm-didyouknow__heading {
    display: block;
    margin-bottom: 0.75em;
    font-weight: bold;

    &:before {
      content: "\f05a";
      font-family: FontAwesome;
      margin-right: 8px;
    }
  }

  p {
    margin-bottom: 0;
  }

  &.left {
    float: left;
    margin: 0.5em 2em 1em 0;
  }

  &.right {
    float: right;
    margin: 0.5em 0 1em 2em;
  }

}



.egm-relatedposts {
  float: left;
  width: 100%;
  padding: 1.5em 1.5em;
  background: #ECF1F7;

  li {
    padding: 0.75em 0.75em;
    list-style-type: none;
  }

  a {
    display: flex;
    align-items: center;

    img {
      float: left;
      margin-right: 1.5em;
      border-radius: 50%;
      width: 10% !important;
    }

    span {
      float: left;
      font-size: 110%;
      font-weight: 700;
      width: 90% !important;
    }

  }

}

.widget_egm_list_children, .widget_egm_list_product {
  background: #ECF1F7;
  padding: 0.75em 1.5em;
  padding-bottom: 1.5em !important;
  overflow: hidden;

  .egm-list-parent {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;

    img {
      display: table;
      width: 100px;
      border-radius: 50%;
      margin: 1em auto;
    }
  }

  .egm-list-child {
    width: 100%;
    padding: 0.25em 0;
    float: left;
    overflow: hidden;

    li {
      width: 100%;
      display: flex;
      align-items: center;
    }

    img {
      width: 17% !important;
      height: auto;
      border-radius: 50%;
      margin-right: 5%;
      display: inline-flex;
    }

    span {
      width: 78%;
      display: inline-flex;
    }

  }

}
